{% extends 'base.html.twig' %}

{% block title %}BookingApp{% endblock %}

{% block body %}
    <main>
        <h1>BookingApp</h1>
        <p>Application en cours de démarrage.</p>
    </main>
{% endblock %}

