<h1>Hi {{ user.firstName }}</h1>

<p>
    Yo request a password recovery. <br>
    To reset your password, please click the following link:
    <a href="{{ url|raw }}">Reset my password</a>
</p>

<p>
    Cheers!
</p>
